* {
  margin: 0;
  padding: 0;
}

.tile {
  width: 20px;
  height: 20px;
  background-color: white;
  outline: 1px solid rgb(192, 190, 190);
  display: inline-flex;
}

.grid-row {
  height: 20px;
}

.tileAlive {
  background-color: rgb(34, 34, 34);
}

.boardSpace {
  display: grid;
  justify-content: center;
}

.header-container {
  padding-top: 40px;
  text-align: center;
}

.controller-bar {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 20px;
}

.controller-bar button {
  margin: 10px;
}



/* .grid-row {
} */